.navbar-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    
}

.navbar-item {
    margin: 10px 10px;
    color: black;
    text-decoration: none;
}
.navbar-item:hover{
    background-color: rgba(197, 249, 148, 0.62);
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.4s ease;
}
.navbar-link{
    color: black;
    text-decoration: none;
}
.navbar-style{
    backdrop-filter: blur(3px); background-color: #dbdfaa65; border-radius: 20px; box-shadow: 0px 35px 68px 0px rgba(225, 246, 176, 0.365), inset 0px -10px 16px 0px rgba(225, 246, 176, 0.6), inset 11px 11px 28px 11px rgb(255, 255, 255);
    height: 50px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 25px;/* Ajusta la posición verticalmente según tus necesidades */
    left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
    
}
.scale-up-vertical-top{animation:scale-up-vertical-top 0.2s linear} @keyframes scale-up-vertical-top{0%{transform:scaleY(.4);transform-origin:center top}100%{transform:scaleY(1);transform-origin:center top}}