.navbar-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    
}

.navbar-item {
    margin: 10px 10px;
    color: black;
    text-decoration: none;
}
.navbar-item:hover{
    background-color: rgba(197, 249, 148, 0);
    
    border-radius: 10px;
    transition: background-color 0.4s ease;
    animation: flotar 3s infinite;
}
@keyframes flotar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}
.navbar-link{
    color: #D6D5A8;
    text-decoration: none;
}
.navbar-style{
    backdrop-filter: blur(8px);
    background-color: #51557e82;
    border-radius: 20px;
    
    
    
    height: 50px;
    
    display: flex;
    
    position: fixed;
    top: 25px;/* Ajusta la posición verticalmente según tus necesidades */
    left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
    
}
.scale-up-vertical-top{animation:scale-up-vertical-top 0.2s linear} @keyframes scale-up-vertical-top{0%{transform:scaleY(.4);transform-origin:center top}100%{transform:scaleY(1);transform-origin:center top}}