.imag{
    border-radius: 20px;
    width: 330px;
    opacity: 0.65;
}

.imag:hover{
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.7));
    opacity: 1;
    animation: hoverup 0.5s forwards;
}
@media screen and (max-width: 768px) {
  
  .imag{
    border-radius: 20px;
    width: 250px;
    opacity: 0.65;
  }
}
@keyframes hoverup{
    100% {
        transform: translateY(-5px);
    }
}
.hover-effect {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    border-radius: 50%;
    position: relative;
    transition: transform 0.3s; /* Tiempo de transición */
  }
  
  .hover-effect:hover {
    transform: scale(1.2); /* Escala 20% más grande al hacer hover */
    animation: followMouse 1s infinite; /* Animación de seguir el mouse */
  }
  
  @keyframes followMouse {
    0%, 100% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(calc(-50% + 5px), calc(-50% + 5px)); /* Mueve 5px en dirección diagonal */
    }
  }